@import "./animation.scss";

@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  min-width: 100vw;
  width: max-content;
  min-height: 100vh;
  max-height: max-content;
  background-color: #000;
  padding: 140px 100px 50px;
  box-sizing: border-box;

  .left-wrap {
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .logo-wrap {
      .logo {
        @include infiniteAnimation(0.3s, 1.5s, moveUpDown);
      }
    }
    .monthly-exhibition-btn-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      .btn-title {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
      }
      .monthly-exhibition-btn {
        cursor: pointer;
        position: relative;
        height: 50px;
        width: 220px;
        box-sizing: border-box;
        font-size: 22px;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.35);
        border: 1px solid #fff;
        border-radius: 50px;

        &:hover {
          opacity: 0.5;
          transition: 0.5s;
        }
        .btn-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Rubik Glitch" !important;

          &.white {
            z-index: 1;
          }
          &.green {
            top: 50%;
            left: 50%;
            transform: translate(-52%, -60%);
            color: #72f56f;
          }
          &.red {
            top: 50%;
            left: 50%;
            transform: translate(-48%, -40%);
            color: #ed4848;
          }
        }
      }
    }
  }
  .right-wrap {
    width: max-content;
    height: 520px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: block;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba($color: #fff, $alpha: 0.8); /* 스크롤바의 색상 */
      border-radius: 6.8px;
      background-clip: padding-box;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    .list-wrap {
      width: max-content;
      display: flex;
      flex-direction: column;
      padding: 20px 25px;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      @include animation(0, 2.5s, fadeIn);
      .title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .title {
          color: #a88bf7;
          font-size: 16px;
          font-weight: 600;
        }
        .interests-btn-wrap {
          display: flex;
          gap: 10px;

          .interest-btn {
            color: #fff;
            font-size: 14px;
            padding: 6px 12px;
            border-radius: 30px;
            border: 1px solid #fff !important;
            background-color: rgba($color: #fff, $alpha: 0.5);
          }
        }
      }
      .exhibition-img-wrap {
        display: flex;
        gap: 20px;

        .exhibition-img {
          width: 250px;
          height: 150px;
          background-color: #ededed;
          border-radius: 5px;
        }
      }
    }
  }
}
