@import "./animation.scss";

@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  min-width: 100vw;
  width: max-content;
  min-height: 100vh;
  max-height: max-content;
  background-color: #000;
  padding: 12vw 6vw 4vw;
  box-sizing: border-box;

  .left-wrap {
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5vw;
    margin-bottom: 2vw;

    .logo-wrap {
      .logo {
        @include infiniteAnimation(0.3s, 1.5s, moveUpDown);
      }
    }
    .monthly-exhibition-btn-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2vw;

      .btn-title {
        color: #fff;
        font-size: 1.1vw;
        font-weight: 600;
      }
      .monthly-exhibition-btn {
        cursor: pointer;
        width: 14vw;
        height: 3.5vw;
        position: relative;
        box-sizing: border-box;
        font-size: 1.5vw;
        color: #fff;
        background-color: rgba(255, 255, 255, 0.35);
        border: 1px solid #fff;
        border-radius: 50px;

        &:hover {
          opacity: 0.5;
          transition: 0.5s;
        }
        .btn-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: "Rubik Glitch" !important;

          &.white {
            z-index: 1;
          }
          &.green {
            top: 50%;
            left: 50%;
            transform: translate(-52%, -60%);
            color: #72f56f;
          }
          &.red {
            top: 50%;
            left: 50%;
            transform: translate(-48%, -40%);
            color: #ed4848;
          }
        }
      }
    }
  }
  .right-wrap {
    width: max-content;
    height: 36vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: block;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba($color: #fff, $alpha: 0.8); /* 스크롤바의 색상 */
      border-radius: 6.8px;
      background-clip: padding-box;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    .list-wrap {
      width: max-content;
      display: flex;
      flex-direction: column;
      padding: 1.5vw;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 5px;
      @include animation(0, 2.5s, fadeIn);
      .title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5vw;

        .title {
          color: #a88bf7;
          font-size: 1.1vw;
          font-weight: 600;
        }
        .interests-btn-wrap {
          display: flex;
          gap: 0.8vw;

          .interest-btn {
            color: #fff;
            font-size: 0.9vw;
            padding: 0.4vw 0.8vw;
            border-radius: 30px;
            border: 1px solid #fff !important;
            background-color: rgba($color: #fff, $alpha: 0.5);
          }
        }
      }
      .exhibition-imgs-wrap {
        display: flex;
        gap: 1.5vw;
        .exhibition-img-wrap {
          cursor: pointer;
          position: relative;

          .exhibition-img {
            width: 17vw;
            height: 10vw;
            border-radius: 5px;
          }
          .hover-wrap {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0%;
            border-radius: 5px;
            padding: 1.5vw;
            box-sizing: border-box;

            &.active {
              opacity: 100%;
              background-color: rgba($color: #a88bf7, $alpha: 0.8);
              transition: 0.3s;
            }
            .hover-contents {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: start;

              .title-wrap {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 0.6vw;
                .title {
                  color: #333;
                  font-size: 1.1vw;
                  font-weight: 600;
                }
                .topic {
                  color: #fff;
                  font-size: 0.9vw;
                  background-color: rgba($color: #333, $alpha: 0.5);
                  padding: 0.4vw 0.8vw;
                  border-radius: 50px;
                }
              }
              .icon-wrap {
                display: flex;
                align-items: center;
                gap: 0.3vw;
                margin-left: auto;

                .like-count {
                  font-size: 0.8vw;
                }
              }
            }
          }
        }
      }
    }
  }
}
