@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

.monthly-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 101vh;
  background: linear-gradient(0.25turn, #7ad088, #f04848);
  color: #333;

  .circle-background {
    position: fixed;
    width: 450px;
    height: 450px;
    background-color: #000;
    border-radius: 50%;
  }
  .circle-inner-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    box-sizing: border-box;
    transition: 0.2s;

    .radial-gradient-circle {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40vw;
      height: 40vw;
      border-radius: 50%;
      background: radial-gradient(
        rgba($color: #f04848, $alpha: 0.5),
        rgba($color: #7ad088, $alpha: 0.25),
        transparent,
        transparent
      );
    }
    .arrow-icon {
      width: 7vw;
      cursor: pointer;
      opacity: 0.5;
      transition: 0.3s;

      &.rotate {
        transform: rotate(180deg);
      }
      &:hover {
        opacity: 1;
      }
    }
    .middle-wrap {
      height: 100%;
      width: max-content;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 50px 0;

      .middle-top-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        .subtitle-text {
          color: #fff;
          font-size: 1.2vw;
          font-weight: 600;
          margin-bottom: 1.5vw;
        }
        .title-wrap {
          width: max-content;
          height: max-content;
          position: relative;
          margin-bottom: 5.5vw;

          .title-text {
            position: absolute;
            width: max-content;
            height: max-content;
            font-family: "Rubik Glitch" !important;
            font-size: 3vw;
            top: 0;
            left: 0;

            &.white {
              top: 0.3vw;
              left: 0.3vw;
              color: #fff;
              z-index: 1;
            }
            &.green {
              color: #72f56f;
            }
            &.red {
              top: 0.6vw;
              left: 0.6vw;
              color: #ed4848;
            }
          }
        }
        .desc-wrap {
          width: 15.5vw;
          height: max-content;
          display: flex;
          gap: 1.5vw;
          color: #fff;
          font-size: 1vw;
          line-height: 1.5;

          .vertical-line {
            height: 100%;
            width: 8px;
            background-color: #fff;
          }
        }
      }
      .middle-bottom-wrap {
        display: flex;
        margin-top: 5vw;
        gap: 2vw;

        .recommended-wrap {
          display: flex;
          gap: 2vw;

          .img {
            width: 14vw;
            height: 20vw;
            border-radius: 3px;
            background-color: #ededed;
          }
          .text-wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .main-text-wrap {
              display: flex;
              flex-direction: column;
              gap: 1vw;
              color: #fff;

              .title {
                font-size: 1vw;
                font-weight: 600;
              }
              .name {
                font-size: 0.9vw;
              }
            }
            .sub-text-wrap {
              display: flex;
              gap: 1vw;
              flex-direction: column;
              color: #fff;

              .category {
                width: max-content;
                padding: 0.3vw 0.6vw;
                background-color: rgba($color: #fff, $alpha: 0.5);
                border: 1px solid #fff;
                border-radius: 50px;
                font-size: 0.9vw;
              }
              .desc {
                width: 16vw;
                height: 6vw;
                font-size: 0.9vw;
                line-height: 1.2;
                overflow: auto;

                &::-webkit-scrollbar {
                  display: block;
                }
                &::-webkit-scrollbar-thumb {
                  background: rgba(
                    $color: #fff,
                    $alpha: 0.5
                  ); /* 스크롤바의 색상 */
                  border-radius: 6.8px;
                  background-clip: padding-box;
                  border-left: 7px solid transparent;
                  border-right: 7px solid transparent;
                }
                &::-webkit-scrollbar-track {
                  width: 1px;
                  background: transparent;
                }
              }
              .icon-wrap {
                display: flex;
                align-items: center;
                gap: 0.5vw;
                font-size: 0.8vw;
              }
            }
          }
        }
      }
    }
  }
}
.section2-container {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;
  background: #000;
  color: #fff;
  padding: 150px 4vw 50px;
  box-sizing: border-box;
  overflow: auto;

  .radial-gradient-circle {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: -20%;
    transform: translateY(-50%);
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background: radial-gradient(
      rgba($color: #f04848, $alpha: 0.4),
      rgba($color: #7ad088, $alpha: 0.25),
      transparent,
      transparent
    );
  }
  .arrow-icon {
    position: fixed;
    top: calc(50%);
    transform: translateY(calc(-50%));
    width: 7vw;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }
  .list-wrap {
    margin: 0 auto;
    width: 55.8vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3vw;

    .title {
      color: #fff;
      font-size: 1.2vw;
      font-size: 600;
    }
    .category-wrap {
      display: flex;
      align-items: start;
      justify-content: space-between;
      width: 100%;

      .sub-title {
        font-size: 1vw;
        margin-top: 0.2vw;
      }
      .interests-wrap {
        display: flex;
        width: 45vw;
        overflow: hidden;
        gap: 0.8vw;
        flex-wrap: wrap;

        .interest-btn {
          cursor: pointer;
          font-size: 0.8vw;
          width: max-content;
          padding: 0.3vw 0.8vw;
          background-color: rgba($color: #fff, $alpha: 0.5);
          border: 1px solid #fff;
          border-radius: 50px;
          transition: 0.3s;

          &:hover {
            opacity: 0.5;
          }
          &.clicked {
            background-color: #fff;
            color: #333;
            font-weight: 500;
          }
        }
      }
      .expand-btn {
        width: 2vw;
        height: 2vw;
        cursor: pointer;
      }
    }
    .middle-line {
      width: 55.8vw;
      border-top: 1px dashed rgba($color: #fff, $alpha: 0.5);
    }
    .content-box-wrap {
      display: flex;
      flex-wrap: wrap;

      .content-box {
        cursor: pointer;
        width: 13.2vw;
        height: 8vw;
        background-color: #ededed;
        border-radius: 3px;
        margin: 0 1vw 1vw 0;

        &:nth-child(4n) {
          margin-right: 0;
        }
        .hover-wrap {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0%;
          border-radius: 3px;
          padding: 1.2vw;
          box-sizing: border-box;

          &.active {
            opacity: 100%;
            background-color: rgba($color: #8b63f7, $alpha: 0.3);
            transition: 0.3s;
          }
          .hover-contents {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;

            .title-wrap {
              display: flex;
              flex-direction: column;
              align-items: start;
              gap: 0.5vw;

              .title {
                color: #333;
                font-size: 1vw;
                font-weight: 500;
              }
              .topic {
                color: #fff;
                font-size: 0.8vw;
                background-color: rgba($color: #333, $alpha: 0.5);
                padding: 0.3vw 0.6vw;
                border-radius: 50px;
              }
            }
            .icon-wrap {
              display: flex;
              align-items: center;
              gap: 0.3vw;
              margin-left: auto;

              .like-count {
                color: #333;
                font-size: 0.8vw;
              }
            }
          }
        }
      }
    }
  }
}
