.monthly-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 101vh;
  background: linear-gradient(0.25turn, #7ad088, #f04848);
  color: #333;
  padding: 50px 100px;
  box-sizing: border-box;

  .circle-background {
    position: fixed;
    width: 450px;
    height: 450px;
    background-color: #000;
    border-radius: 50%;
  }
  .circle-inner-wrap {
    position: fixed;
    transition: 0.3s;
  }
}
